<header>
  <div class="header-container">
  <div class="header-left">
    <div class="menu">
      <label class="menu3">
        <input id="menu3" type="checkbox" value="off" />
        <label class="menu3-1" for="menu3"></label>
        <label class="menu3-2" for="menu3"></label>
        <label class="menu3-3" for="menu3"></label>
      </label>
    </div>
    <div class="logo">
      <%# <img src="" /> %>
      <span class="text9">月刊Me-gazine</span>
    </div>
  </div>
    <nav class="header-nav">
      <div class="header-nav-item">
        <form class="form">
          <input type="search" class="form-input" placeholder="URL" />
          <a href="#!" class="button-2">SAVE!</a>
        </form>
      </div>
      <div class="header-nav-item">
        <img src="https://placehold.jp/50x50.png" class="header-avatar" />
      </div>
    </nav>
  </div>
</header>