<%# 記事リンク一覧 %>
<div class="content_container">
  <ul id="hoge">
    <% @posts.each_with_index do |post,i| %>
      <li class="content_post" data-id="<%=i%>">
        <%= link_to image_tag(thumbalizr_url(post.url, {:width =>  1080, :height =>  720})), post.url, :target => "_blank" %>
      </li>
    <% end %> 
  </ul>
</div>