<%# 記事リンク一覧 %>
<div class="content_container">
  <ul class="sortable">
    <% @posts.each_with_index do |post,i| %>
      <li class="content_post" id="<%=i%>">
        <%= link_to image_tag(thumbalizr_url(post.url, {:width =>  1080, :height =>  720})), post.url, :target => "_blank" %>
      </li>
    <% end %> 
  </ul>
</div>
  
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

<%# jQuery UI Touch Punch %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

<!-- jQuery cookie -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<%# bootstrap %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 

<%# Sortable %>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<%# sortable %>
<script type="text/javascript">
$(function() {
    $(".sortable").sortable();
    $(".sortable").disableSelection();
    $(".sortable").sortable({
        update: function(ev, ui) {
            var updateArray =  $(".sortable").sortable("toArray").join(",");
            $.cookie("sortable", updateArray, {expires: 30});
        }       
    });
    if($.cookie("sortable")) {
        var cookieValue = $.cookie("sortable").split(",").reverse();
        $.each(
            cookieValue,
            function(index, value) {$('#'+value).prependTo(".sortable");}
        );
    }
});
</script>