<%= render "shared/header"%>

<div class="content_container">
  <% @posts.each_with_index do |post, i| %>
    <div class="content_post<%= i %>">
      <%= link_to "post#{post.id}", post.url, :target => "_blank" %>
      <img src="<%= thumbalizr_url(post.url) %> "> 
    </div>
  <% end %>
</div>