.hoge {
  /* float: left; */
}

.content_post img{
  /* float: left; */
  object-fit: cover;
  width: 100vw;
  height: 20vh;
  border: 1px solid black;
  
}

/* .content_post1 img {
  object-fit: cover;
  width: 100vw;
  height: 45vh;
  border: 1px solid black;
}

.content_post2 img, .content_post3 img, .content_post4 img, .content_post5 img {
  object-fit: cover;
  width: 100vw;
  height: 30vh;
  border: 2px solid black;
} */
