.content_post0 img {
  margin-top: 60px;
  object-fit: cover;
  width: 100vw;
  height: 60vh;
  border: 1px solid black;
}

.content_post1 img {
  object-fit: cover;
  width: 100vw;
  height: 45vh;
  border: 1px solid black;
}

.content_post2 img, .content_post3 img, .content_post4 img, .content_post5 img {
  object-fit: cover;
  width: 100vw;
  height: 30vh;
  border: 2px solid black;
}
