
.content_post0 {
  margin-top: 60px;
  width: 100vw;
  background-color: blanchedalmond;
  height: 60vh;
}

.content_post img {
  background-color: #ccc;
  object-fit: cover;
  width: 100vw;
  height: 100%;
}

.content_post1 {
  width: 50vw;
  background-color: aliceblue;
  height: 30vh;
}

.content_post2 {
  width: 50vw;
  background-color: azure;
  height: 30vh;
}

.content_post3 {
  width: 20vw;
  background-color: cadetblue;
  height: 10vh;
}

.content_post4 {
  width: 20vw;
  background-color: cyan;
  height: 10vh;
}